<header class="page-header">
  <div class="page-header__wrapper">

    <div class="page-header__top">
      <div class="page-header__inner">
        <a class="logo">
          <picture>
            <!-- <source media="(min-width: 1150px)" srcset="img/logo-desktop.svg">
              <source media="(min-width: 768px)" srcset="img/logo-tablet.svg"> -->
            <img src="img/main-logo.svg" alt="Яндекс дом" class="logo__img" width="110">
          </picture>
        </a>
        <button class="menu" type="button"></button>

      </div>

    </div>

    <nav class="main-nav">

      <ul class="main-nav__list main-nav__list--closed">
        <li class="main-nav__item main-nav__item--active">
          <a href="#" class="main-nav__link">Сводка</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Устройства</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">Сценарии</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
