.main {
  &__wrapper {
    @include container;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "home"
    "scripts"
    "devices";
  }



}

.main__wrapper>section {
  outline: 2px solid red;

}


@media #{$tablet-widths} {
.main {
    &__wrapper {
      grid-gap: 26px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "home scripts"
      "devices devices";
    }
  }
}

@media #{$desktop-widths} {

}
